---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>CV Application Generator</h1>
  <h2>One simple app to create your resume</h2>
  <a href="general">Get started</a>
</BaseLayout>
